exclude tests
recursive-exclude tests *

exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude tox.ini
exclude .flake8
exclude codecov.yml
exclude .mypy.ini

include LICENSE
include CHANGELOG.md
include mdit_py_plugins/py.typed

recursive-include mdit_py_plugins port.yaml LICENSE README.md
